{% extends "config-layout.html" %}

{% block content %}
<!-- Main Content -->
<main class="flex-grow-1 p-4">
    <header class="mb-4">
        <h1 class="schabo">General</h1>
    </header>
    <section>
         <!-- General Section -->
         <div class="card mb-4">
            <div class="card-body" id="welcome-section">
                <form autocomplete="off">
                    <div class="mb-3">
                        <label for="admin-role" class="form-label">Admin role</label>
                        <select id="admin-role" class="form-select">
                            {% for role in server["roles"] %}
                                <option {% if data["admin_role_id"]|int == role.id|int %} selected="selected" {% endif %} value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="gnr-txt-channel" class="form-label">General channel text</label>
                        <select id="gnr-txt-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option {% if data["gnrl_ch_id"]|int == channel.id|int %} selected="selected" {% endif %} value="{{ channel.id }}">{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="presentation-txt-channel" class="form-label">Debugging channel text</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="debug-toggle"  {% if data['dbg_ch'] == 1 %} checked {% endif %}>
                            <label class="form-check-label" for="debug-toggle">Active</label>
                        </div>
                        <select id="debug-input" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option {% if data["dbg_ch_id"]|int == channel.id|int %} selected="selected" {% endif %} value="{{ channel.id }}">{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="mb-3">
                        <label for="bot-txt-channel" class="form-label">Bot channel text </label>
                        <select id="bot-txt-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option {% if data["bot_ch_id"]|int == channel.id|int %} selected="selected" {% endif %} value="{{ channel.id }}">{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="admin-txt-channel" class="form-label">Admin channel text </label>
                        <select id="admin-txt-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option {% if data["admin_ch_id"]|int == channel.id|int %} selected="selected" {% endif %} value="{{ channel.id }}">{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>                                  
                </form>
            </div>
            <button id="btn-general-main" type="button" class="btn button text-white">Save Changes</button>
        </div>             
    </section>
</main>
<script src="{{ url_for('static', filename='js/config-general.js') }}"></script>
{% endblock %}