{% extends "config-layout.html" %}

{% block content %}
<!-- Main Content -->
<main class="flex-grow-1 p-4">
    <header class="mb-4">
        <h1 class="schabo">Games</h1>
    </header>
    <section>
        <!-- General Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>General
                    <p>
                        <span class="explanation-text">Explanation of the games</span>
                    </p>
                </h5>  
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="game-toggle" checked>
                    <label class="form-check-label" for="game-toggle">Active</label>
                </div>                              
            </div>
            <div class="card-body" id="general-section">
                <form>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="welcome-channel" class="form-label" style="margin-bottom: 0;">
                            Limit how much money can be gambled
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="game-limit-toggle" checked>
                            <label class="form-check-label" for="game-limit-toggle">Active</label>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input id="game-limit-input" type="number" class="form-control" value="15" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">quack coins</span>
                        </div>
                    </div>
                
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        <!-- Dices Section -->
        <div id="dice-block">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Dices
                    <p>
                        <span class="explanation-text">Explanation of the games</span>
                    </p>
                </h5> 
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                    <label class="form-check-label" for="send-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="dices-section">
                <form>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        </div>
        <!-- RPS Section -->
        <div id="rps-block">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>RPS
                    <p>
                        <span class="explanation-text">Explanation of the games</span>
                    </p>
                </h5> 
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                    <label class="form-check-label" for="send-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="welcome-section">
                <form>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        </div>
        <!-- 8Ball Section -->
        <div id="hball-block">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>8 Ball
                    <p>
                        <span class="explanation-text">Explanation of the games</span>
                    </p>
                </h5> 
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                    <label class="form-check-label" for="send-toggle">Active</label>
                </div>
            </div>
        
            <div class="card-body" id="8-ball-section">
                <form>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        </div>
        <!-- Bets Section -->
        <div id="bet-block">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Bets
                    <p>
                        <span class="explanation-text">Explanation of the games</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="bet-toggle" checked>
                    <label class="form-check-label" for="bet-toggle">Active</label>
                </div>                                  
            </div>
            
            <div class="card-body" id="bet-section">
                <form>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="limit-how-much-money-gambled" class="form-label" style="margin-bottom: 0;">
                            Limit how much money can be gambled at once
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bet-limit-toggle" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input id="bet-limit-input" type="number" class="form-control" value="15" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">quack coins</span>
                        </div>
                    </div>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        </div>             
    </section>
</main>
<script src="{{ url_for('static', filename='js/config-games.js') }}"></script>
{% endblock %}