{% extends "config-layout.html" %}

{% block content %}
<main class="flex-grow-1 p-4">
    <header class="mb-4">
        <h1>Economy</h1>
    </header>
    <section>
        <!-- Coins Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Coins
                    <p>
                        <span class="explanation-text">Explanation of the coins</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="coin-toggle" checked>
                    <label class="form-check-label" for="coin-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="coin-section">
                <form>
                    <div class="mb-3">
                        <label for="welcome-channel" class="form-label">Passive income</label>
                        <p>
                            <span class="explanation-text">Explanation of the passive income</span>
                        </p>
                    </div>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="welcome-channel" class="form-label" style="margin-bottom: 0;">
                            Messages income
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div style="width: 100%;">
                            <span class="explanation-text" style="margin-top: 0; display: block;">How much earned per messages sent:</span>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">per message</span>
                        </div>
                    </div>                              
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="welcome-channel" class="form-label" style="margin-bottom: 0;">
                            Vocals income
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div style="width: 100%;">
                            <span class="explanation-text" style="margin-top: 0; display: block;">How much earned per messages sent:</span>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">per message</span>
                        </div>
                    </div>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="welcome-channel" class="form-label">
                            AFK Channel
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div style="width: 100%;">
                            <select id="welcome-channel" class="form-select">
                                {% for channel in server["voice_channels"] %}
                                    <option>{{ channel.name }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                    </div>    
                        
                        

                    <button type="submit" class="btn button text-white">Save Changes</button>
                </form>
            </div>
        </div>
        <!-- Bank Section -->
        <div class="card mb-4" id="bank-block">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Bank
                    <p>
                        <span class="explanation-text">Explanation of the bank</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="bank-toggle" checked>
                    <label class="form-check-label" for="bank-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="welcome-section">
                <form>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="percentage-of-growth" class="form-label" style="margin-bottom: 0;">
                            Percentage of growth
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div style="width: 100%;">
                            <span class="explanation-text" style="margin-top: 0; display: block;">How much earned per months:</span>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">%</span>
                        </div>
                    </div>
                    <button type="submit" class="btn button text-white">Save Changes</button>
                </form>
            </div>
        </div>
        <!-- Send Section -->
        <div class="card mb-4" id="send-block">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Send
                    <p>
                        <span class="explanation-text">Explanation of the send</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                    <label class="form-check-label" for="send-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="welcome-section">
                <form>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="percentage-of-growth" class="form-label" style="margin-bottom: 1;">
                            Limit of maximum amount exchanged:
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">quack coins</span>
                        </div>
                    </div>
                    <button type="submit" class="btn button text-white">Save Changes</button> 
                </form>
            </div>
        </div>
        <!-- Daily Section -->
        <div class="card mb-4" id="daily-block">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Daily
                    <p>
                        <span class="explanation-text">Explanation of the daily </span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="daily-toggle" checked>
                    <label class="form-check-label" for="daily-toggle">Active</label>
                </div>                                         
            </div>
            <div class="card-body" id="welcome-section">
                <form>
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="percentage-of-growth" class="form-label" style="margin-bottom: 1;">
                            Amount of money sent by the daily:
                        </label>
                        <div class="input-group mb-3" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                            <span class="form-control" id="basic-addon2">per day</span>
                        </div>
                    </div>
                    <button type="submit" class="btn button text-white">Save Changes</button> 
                </form>
            </div>
        </div>
    </section>
</main>
<script src="{{ url_for('static', filename='js/config-economy.js') }}"></script>
{% endblock %}
