{% extends "config-layout.html" %}

{% block content %}
<main class="flex-grow-1 p-4">
    <header class="mb-4">
        <h1 class="schabo">Arrivals & Departures</h1>
    </header>
    <section>
        <!-- Welcome Message Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Welcome Message
                    <p>
                        <span class="explanation-text">Explanation of the welcome message</span>
                    </p>
                </h5>
                                        
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="welcome-toggle" checked>
                    <label class="form-check-label" for="welcome-toggle">Active</label>
                </div>              
            </div>

            <div class="card-body" id="welcome-section">
                <form>
                    <div class="mb-3">
                        <label for="welcome-channel" class="form-label">Welcome Channel</label>
                        <select id="welcome-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option>{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="welcome-message" class="form-label" style="margin-bottom: 0; display: inline-block; width: auto;">
                            Custom Message
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <textarea id="welcome-message" class="form-control" rows="3">🎉 Welcome {memberName} 🎉</textarea>
                    </div>
                    
                    
                    
                    
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <label for="general-channel" class="form-label" style="margin-bottom: 0;">
                            Bot Reaction
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <div class="form-check form-switch" style="width: 100%;"> <!-- Force le second toggle à prendre toute la largeur -->
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault" style="font-size: 15px;">Random emote from the server</label>
                        </div>
                    </div>
                    
                      
                    
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>

        <!-- Goodbye Message Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Goodbye Message
                    <p>
                        <span class="explanation-text">Explanation of the goodbye message</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="goodbye-toggle" checked>
                    <label class="form-check-label" for="goodbye-toggle">Active</label>
                </div>
            </div>
            <div class="card-body" id="goodbye-section">
                <form>
                    <div class="mb-3">
                        <label for="goodbye-channel" class="form-label">Goodbye Channel</label>
                        <select id="goodbye-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option>{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="goodbye-message" class="form-label">Custom Message</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                            <label class="form-check-label" for="bot-reaction">Active</label>
                        </div>
                        <textarea id="goodbye-message" class="form-control" rows="3">👋 Goodbye {memberName} 👋</textarea>
                    </div>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>

            <!-- Presentation Message Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Presentation Message
                    <p>
                        <span class="explanation-text">Explanation of the presentation message</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="presentation-toggle" checked>
                    <label class="form-check-label" for="presentation-toggle">Active</label>
                </div>
            </div>
            <div class="card-body" id="presentation-section">
                <form>
                    <div class="mb-3">
                        <label for="presentation-txt-channel" class="form-label">Presentation texte channel</label>
                        <select id="presentation-txt-channel" class="form-select">
                            {% for channel in server["text_channels"] %}
                                <option>{{ channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="newbie-role" class="form-label">Newbie role</label>
                        <div style="width: 100%; margin-top: 0;">
                            <span class="explanation-text" style="margin-top: 0; display: block;">Explanation of the newbie role</span>
                        </div>  
                        <select id="newbie-role" class="form-select">
                            {% for role in server["roles"] %}
                                <option>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
        <!-- Direct Message Section -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Direct Message
                    <p>
                        <span class="explanation-text">Explanation of the direct message</span>
                    </p>
                </h5>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-section" type="checkbox" id="dm-toggle" checked>
                    <label class="form-check-label" for="dm-toggle">Active</label>
                </div>
            </div>
            <div class="card-body" id="dm-section">
                <form>
                    <div class="mb-3">
                        <label for="dm-message" class="form-label">Custom Message</label>
                        <textarea id="dm-message" class="form-control" rows="3">What the user will receive once they join</textarea>
                    </div>
                    
                </form>
            </div>
            <button type="submit" class="btn button text-white">Save Changes</button>
        </div>
    </section>
</main>
<script src="{{ url_for('static', filename='js/config-welcome.js') }}"></script>
{% endblock %}