<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quackers Bot Configuration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="all-styles.css"> 
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Quackers</a>
        </div>
        <!-- LOG IN -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn button btn-primary no-wrap" onclick="window.location.href='server.html'">Servers</button>
            
            <!-- Image ronde à la place du bouton "Log In" -->
            <img src="data/imgs/placeholder.jpg" alt="User" class="rounded-circle user-avatar me-3 no-wrap" />
        </div>
    </nav>
    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="sidebar p-3">
            <div class="mb-4 text-center">
                <h5>Server's Name</h5>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="config-general.html" class="nav-link">General</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="config-welcome.html" class="nav-link no-wrap">Arrivals & Departures</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="config-economy.html" class="nav-link">Economy</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="config-games.html" class="nav-link">Games</a>
                </li>                
                <li class="nav-item mb-2">
                    <a href="config-ai.html" class="nav-link">AI</a>
                </li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main class="flex-grow-1 p-4">
            <header class="mb-4">
                <h1>Games</h1>
            </header>
            <section>
                <!-- General Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>General
                            <p>
                                <span class="explanation-text">Explanation of the games</span>
                            </p>
                        </h5>                                  
                    </div>
                    <div class="card-body" id="general-section">
                        <form>
                            <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                                <label for="general-channel" class="form-label" style="margin-bottom: 0;">
                                    Limit games to a channel
                                </label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                                    <label class="form-check-label" for="bot-reaction">Active</label>
                                </div>
                                <div style="width: 100%;">
                                    <select id="limit-games-channel" class="form-select">
                                        <option>#welcome</option>
                                        <option>#general</option>
                                        <option>#rules</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                                <label for="welcome-channel" class="form-label" style="margin-bottom: 0;">
                                    Limit how much money can be gambled
                                </label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                                    <label class="form-check-label" for="bot-reaction">Active</label>
                                </div>
                                <div class="input-group mb-3" style="width: 100%;">
                                    <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                                    <span class="form-control" id="basic-addon2">quack coins</span>
                                </div>
                            </div>
                        

                            <button type="submit" class="btn button text-white">Save Changes</button>
                        </form>
                    </div>
                </div>
                <!-- Dices Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Dices
                            <p>
                                <span class="explanation-text">Explanation of the games</span>
                            </p>
                        </h5> 
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                            <label class="form-check-label" for="send-toggle">Active</label>
                        </div>                                         
                    </div>
                    <div class="card-body" id="dices-section">
                        <form>
                            <button type="submit" class="btn button text-white">Save Changes</button>
                        </form>
                    </div>
                </div>
                <!-- RPS Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>RPS
                            <p>
                                <span class="explanation-text">Explanation of the games</span>
                            </p>
                        </h5> 
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                            <label class="form-check-label" for="send-toggle">Active</label>
                        </div>                                         
                    </div>
                    <div class="card-body" id="welcome-section">
                        <form>
                            <button type="submit" class="btn button text-white">Save Changes</button>
                        </form>
                    </div>
                </div>
                <!-- 8Ball Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>8 Ball
                            <p>
                                <span class="explanation-text">Explanation of the games</span>
                            </p>
                        </h5> 
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="send-toggle" checked>
                            <label class="form-check-label" for="send-toggle">Active</label>
                        </div>
                    </div>
                
                    <div class="card-body" id="8-ball-section">
                        <form>
                            <button type="submit" class="btn button text-white">Save Changes</button>
                        </form>
                    </div>
                </div>
                <!-- Bets Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Bets
                            <p>
                                <span class="explanation-text">Explanation of the games</span>
                            </p>
                        </h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input toggle-section" type="checkbox" id="bank-toggle" checked>
                            <label class="form-check-label" for="bank-toggle">Active</label>
                        </div>                                  
                    </div>
                    
                    <div class="card-body" id="bets-section">
                        <form>
                            <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                                <label for="limit-how-much-money-gambled" class="form-label" style="margin-bottom: 0;">
                                    Limit how much money can be gambled at once
                                </label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-section" type="checkbox" id="bot-reaction" checked>
                                    <label class="form-check-label" for="bot-reaction">Active</label>
                                </div>
                                <div class="input-group mb-3" style="width: 100%;">
                                    <input type="text" class="form-control" placeholder="Quack coins" aria-label="Quack coins" aria-describedby="basic-addon2">
                                    <span class="form-control" id="basic-addon2">quack coins</span>
                                </div>
                            </div>
                            <button type="submit" class="btn button text-white">Save Changes</button>
                        </form>
                    </div>
                </div>                
            </section>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
