{% include "header.html" %}
<body data-bs-theme="dark">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <!-- LOG IN -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button onclick="window.location.href='/about'" type="button" class="btn btn-outline-custom me-2">About</button>
            {% if logged_in %}
                <button onclick="window.location.href='/servers'" type="button" class="btn btn-outline-custom">Servers</button>
                <button onclick="window.location.href='/logout'" class="btn button btn-primary me-3 no-wrap" type="button">Log Out</button>
            {% else %}
                <button onclick="window.location.href='/login'" class="btn button btn-primary me-3 no-wrap" type="button">Log In</button>
            {% endif %}
        </div>
    </nav>
    <div class="centered-text" style="font-family: Quackers2; padding-left: 10%; padding-right: 10%;">
        <h1>
            <img src="{{ url_for('static', filename='data/imgs/LOGO.svg') }}" alt="Logo" style="height: 100%; width: auto; object-fit: contain; max-width: 100%;" draggable="false">
        </h1>
    </div>
    <!-- Nouvelle section d'informations avec un peu d'espace -->
    <div class="info-section">
        <div class="container">
            <h2>Where technology and ducks coexist... at least theoretically</h2>
            <p>- QUACKING ON DISCORD -</p>
            <div class="row" style="padding-left: 15%; padding-right: 15%;">
                <div class="col">
                    <button onclick="window.location.href='/{% if logged_in %}servers{% else %}login{% endif %}'" type="button" class="btn btn-outline-primary btn-lg w-100 svgico">
                        <svg  fill="var(--primary-color)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.566 17.842c-.945 2.462-3.678 4.012-6.563 4.161.139-2.772 1.684-5.608 4.209-6.563l.51.521c-1.534 1.523-2.061 2.765-2.144 3.461.704-.085 2.006-.608 3.483-2.096l.505.516zm-1.136-11.342c-1.778-.01-4.062.911-5.766 2.614-.65.649-1.222 1.408-1.664 2.258 1.538-1.163 3.228-1.485 5.147-.408.566-1.494 1.32-3.014 2.283-4.464zm5.204 17.5c.852-.44 1.61-1.013 2.261-1.664 1.708-1.706 2.622-4.001 2.604-5.782-1.575 1.03-3.125 1.772-4.466 2.296 1.077 1.92.764 3.614-.399 5.15zm11.312-23.956c-.428-.03-.848-.044-1.261-.044-9.338 0-14.465 7.426-16.101 13.009l4.428 4.428c5.78-1.855 12.988-6.777 12.988-15.993v-.059c-.002-.437-.019-.884-.054-1.341zm-5.946 7.956c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2z"/></svg>
                        SETUP
                    </button>
                </div>
                <div class="col">
                    <button onclick="window.open('https://github.com/FrenchFive/quackers', '_blank')" type="button" class="btn btn-outline-secondary btn-lg w-100 svgico">
                        <svg fill="var(--secondary-color)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                        GITHUB
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
