{% include "header.html" %}
<body data-bs-theme="dark">
    {% include "top-nav.html" %}
        <!-- Main Content -->
        <main class="flex-grow-1 p-4">
            <header class="mb-4">
                <h1>Servers</h1>
            </header>
            <section>
                {% if error != None %}
                <!-- SVG definitions -->
                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                  

                <div>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"  width="32" height="32" style="fill: white;"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            {{ error }}
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <!-- SERVERS GRID -->
                <div class="container mt-4">
                    <div class="row text-center">
                        {% for server in servers %}
                        <div class="col-md-4">
                            <div class="card cardimg mb-4" style="width: 15rem;">
                                <img src="{{ server['icon_url'] }}" class="card-img-top" alt="..." style="width: 100%; height: 200px; object-fit: cover; object-position: center;" draggable="false">
                                <div class="card-body">
                                    <h5 class="card-title">{{ server.name }}</h5>
                                    {% if server['bot_on_server']==1 %}
                                        <a href="/config/{{ server['id'] }}" class="btn button btn-primary">Go somewhere</a>
                                    {% else %}
                                        <a href="https://discord.com/oauth2/authorize?client_id={{clientid}}&guild_id={{ server['id'] }}" class="btn btn-secondary">Configure</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                
            </section>
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
